body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #000000; /* Black background */
  background-size: cover; /* Makes sure the background image covers the entire viewport */
  background-position: center; /* Keeps the background centered */
  background-attachment: fixed; /* Ensures background remains fixed while scrolling */
  height: 100vh; /* Ensure full height */
  color: #ffffff; /* White text color for contrast */
}

* {
  box-sizing: border-box;
}
